.moduleAddQuestion {
    width: 50%;
    min-width: 50%;
    margin: auto !important;
    text-align: center !important;
}

.addWouldYouRather {
    margin-top: 10px !important;
}

.inputOptionOne, .inputOptionTwo {
    margin: 10px !important;
}

.btnAddQuestion {
    margin: 10px auto !important;
    width: 90% !important;
    border-radius: 3px !important;
}