.leaderboard {
    width: 60%;
    margin: auto;
}

.userLeaderboard {
    width: 60%;
}

.columnAvatar, .columnScore {
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 0.5rem;
    padding-top: 0.5rem;
}

.columnScore {
    padding-left: 0 !important;
}


.columnAvatar {
    padding-right: 0 !important;
}

.leaderboardUserAvatar {
    width: 150px;
    vertical-align: middle;
    margin: auto;
    text-align: center;
}

.userScore {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.scoreTitle {
    height: 30%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.currentScore {
    height: 70%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
    font-size: 2rem;
}

.columnDetails {
    padding: 0 10px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

/*.leaderboardUserName {
    height: 30%;
    width: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}*/

.rowUserName {
    height: 30%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.rowUserCreatedQuestions, .rowUserAnsweredQuestions {
    height: 35%;
    font-size: 1.2em;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    -webkit-box-align: center;
    -ms-flex-align: center;
    align-items: center;
    text-align: center;
}

.rowUserAnsweredQuestions {
    border-bottom: solid 1px lightgray;
}