.userLoginPage {
    width: 50% !important;
    margin: auto !important;
    padding: 10px !important;
}

.loginSelect {
    margin: 10px 0;
}

.btnLogin {
    margin: 10px 0 !important;
}

.appHeaderAvatar {
    width: 25px;
    margin-right: 5px;
}