.user-login-page {
    width: 50% !important;
    margin: auto !important;
    padding: 10px !important;
}

.login-select {
    margin: 10px 0;
}

.btn-login {
    margin: 10px 0 !important;
}

.app-header-avatar {
    width: 25px;
    margin-right: 5px;
}