.questionItem {
    height: 300px !important;
    border: solid 1px gray;
    border-radius: 5px;  
    margin: 20px 0;
    padding: 10px !important;
}

.questionItemContent {
    display: flex;
    height: 100%;
}

.questionItemTitle {
    height: 30px;
    background-color: lightgray;
}

.questionAuthorPicture {
    width: 27%;
    border-right: solid 1px lightgray;
    display: flex;
    align-items: center;
}

.questionAuthorPicture img {
    min-width: 25%;
    width: 175px;
    margin: auto;
}

.questionItemButton {
    width: 100% !important;
}

.questionOptions {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
}

.questionItemButton {
    width: 100%;
}

.questionContent {
    width: 100%;
    padding-left: 10px;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.optionOneText {
    width: 40%;
    text-align: center;
    margin: auto;
}