.questionItem {
    height: 300px !important;
    border: solid 1px gray;
    border-radius: 5px;  
    margin: 20px 0;
    padding: 10px !important;
}

.questionItemContent {
    display: flex;
    height: 100%;
}

.questionItemTitle {
    height: 30px;
    background-color: lightgray;
}

.questionAuthorPicture {
    width: 27%;
    border-right: solid 1px lightgray;
    display: flex;
    align-items: center;
}

.questionAuthorPicture img {
    min-width: 25%;
    width: 175px;
}

.option {
    height: 100px;
    display: flex;
    vertical-align: middle;
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}

.options {
    padding: 0 !important;
}

.wouldYouRatherDesc {
    text-align: center;
    margin-bottom: calc(2rem - 0.142857em);
}

.voted {
    background: #e5e5e5;
    -webkit-box-shadow: inset 0px 0px 5px #c1c1c1;
       -moz-box-shadow: inset 0px 0px 5px #c1c1c1;
            box-shadow: inset 0px 0px 5px #c1c1c1;
     outline: none;
}

.segQuestionDetail {
    width: 50% !important;
    margin: auto !important;
}

.optionContent {
    font-weight: bold;
    font-size: 1.5rem;
}
